<div class="card bg-white shadow-md w-64">
    <div class="card-image relative">
        <%= image_tag((ticket.image.attached? ? ticket.image : ""), alt: ticket.name) %>
    </div>
    <div class="content p-3 flex flex-col gap-2 text-center">
        <h2 class="font-semibold text-lg hover:text-orange-500"><%= link_to ticket.name, (admin_namespace? ? admin_ticket_path(ticket) : ticket_path(ticket)) %></h2>
        <p class="font-inter text-xl text-orange-500 font-semibold"><%= rupiah(ticket.price) %></p>
        <p class="font-inter text-sm"><%= ticket.short_description %></p>
    </div>
</div>